include ../like-button/like-button.pug

mixin comments({ avatarSrc, avatarAlt, userName, date, date_text, text, likeCount=12, likeIsChecked=true, }={})
    .post
        .post__user-avatar
            img.post__avatar(src=avatarSrc, alt=avatarAlt)
            +like-button({ 
                isChecked: likeIsChecked,
                count: likeCount,
            })
        .post__description
            .post__user-name=userName
            .post__date=date
            .post__text=text
