mixin info-table({ tablePrice = '9 999', currency = '₽', numberOfDay = '1', inTime = 'сутки', totalAmount = '0', discount = '50', totalServicesAmount = '0', totalAdditionalAmount= '0', totalTablePrice = '1000', }={})
    table.info-table
        tr.info-table__row
            td.info-table__cell-service
                span.info-table__price= tablePrice
                span.info-table__currency= `${currency} x `
                span.info-table__number-of-days= numberOfDay
                span.info-table__in-time= ` ${inTime}`
            td.info-table__cell-price
                span.info-table__total-amount= `${totalAmount}${currency}`
        tr.info-table__row
            td.info-table__cell-service
                .info-table__services-text
                    span.info-table__services-text= `Сбор за услуги: скидка ${discount}${currency}`
                    span.info-table__info i
            td.info-table__cell-price
                .info-table__total-discount-price
                    span.info-table__total-services-amount= `${totalServicesAmount}${currency}`
        tr.info-table__row
            td.info-table__cell-service
                .info-table__additional-text
                    span.info-table__additional-text= 'Сбор за дополнительные услуги'
                    span.info-table__info i
            td.info-table__cell-price
                .info-table__total-additional-price
                    span.info-table__total-additional-amount= `${totalAdditionalAmount}${currency}`
        tr.info-table__row
            td.info-table__cell-service.info-table__total-table
                span.info-table__total-table Итого
                span.info-table__underline
            td.info-table__cell-price.info-table__total-price
                span.info-table__total-table-price= `${totalTablePrice}${currency}`
