mixin button({className = 'btnDefault', text = 'click me', address='/mock-address/change-me', arrow}={})
    -   let btnClass   
    .button-link    
        case className
            when 'btnBackground'
                - btnClass = className
            when 'btnBorder'
                - btnClass = className            
        if arrow
            a.button-link__elem(class='btnLong' href=address) #{text}
                span.material-icons arrow_forward
        else    
            a.button-link__elem(class=className href=address) #{text}

        
