mixin button({headerTitle, className = 'btnDefault', text = 'click me', buttonType = 'submit', arrow}={})
    -   let btnClass   
    .button-link    
        if headerTitle
            +header-block({title: headerTitle})
        case className
            when 'btnBackground'
                - btnClass = className
            when 'btnBorder'
                - btnClass = className            
        if arrow
            button.button-link__elem(class='btnLong' type=buttonType) #{text}
                span.material-icons arrow_forward
        else    
            button.button-link__elem(class=className type=buttonType) #{text}

        
