include ../material-icons/material-icons.pug

mixin button({  className = 'btnDefault', text = 'click me', buttonType = 'submit', icon=false, }={})
    -   let btnClass   
    .button-link
        case className
            when 'btnBackground'
                - btnClass = className
            when 'btnBorder'
                - btnClass = className            
        if icon
            button.button-link__elem(class='btnLong' type=buttonType) #{text}
                +material-icons({
                    type: 'arrow_forward',
                    color: 'white',
                    size: 'base',
                })
        else    
            button.button-link__elem(class=className type=buttonType) #{text}

        
